{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        zprint/zprint {:mvn/version "0.5.4"}}
 :aliases
 {:test {:extra-paths ["test"]}
  :release
  {:extra-deps {applied-science/deps-library {:mvn/version "0.4.0"}}
   :main-opts ["-m" "applied-science.deps-library"]}}}
